.transaction_history {
    margin-top: 30px;
    /* display: inline-table; */
    /* flex-direction: column; */
    /* align-items: center; */
    box-shadow: 0 0 10px #c6cccced;
    width: 370px;
    border-spacing: 0;
  }
tr {
    margin-bottom: 5px;
    padding: 10px;
  }
th {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
    color: #524a4d;
    flex-basis: calc(100% * 2 / 3);
    justify-content: center;
  }
td {
    padding: 10px;
    width: inherit;
    font-weight: 700;
    font-size: 15px;
    color: #524a4d;
    justify-content: center;
  }
  
tr {
    display: flex;
    flex-basis: calc(100% * 2 / 3);
    justify-content: space-evenly;
    border-bottom: solid 1px #c6cccce6;
  }
tr:not(:last-child) {
    margin-bottom: 5px;
  }